p{
    width:100px;
    height:100px;
    font-size:85px;
    background: thistle;
    text-align:center;
    margin:15px;
}
#p1{
    
}
#p1:hover{
    animation: myFont;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes mycolorAnimation {
    0%{background-color:red;}
    20%{background-color:yellow;}
    40%{background-color:blue;}
    60%{background-color:grey;}
    80%{background-color:purple;}
    100%{background-color:green;}
}

@keyframes myRotateAnimation{
    /*100%{transform: rotateX(360deg);}*/
    /*100%{transform: rotateY(360deg);}*/
    /*100%{transform: rotateZ(360deg);}*/
}

@keyframes myTranslate{
    50%{transform: translate(100px,100px);}
}

@keyframes myScale{
    50%{transform: scale(0.5,0.5);}
}

@keyframes myOpacity{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}

@keyframes myFont{
    0%{font-size:85px;}
    50%{font-size:300px;}
    100%{font-size:85px;}
}