p{
    font-family:"herculanum";
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    text-decoration:underline wavy blueviolet;
    color:rgb(38, 64, 65);

}
body{
    background-color: cornflowerblue;
}
h1{
    color: #383737;
    background-color: #89dada;
}