h1{
    border:5px solid;
    border-color:black;
    width:210px;
    margin:25px;
    padding:25px;
    background-color:black;
    color:white;

    text-shadow: 0px 0px 5px yellow ,0px -5px 5px red;
    /*
    horizontal (px)
    vertical(px)
    blur (px)
    color(name,rgb,hex)
    */
    box-shadow: 10px 10px 5px #666666;
    /*
    horizontal (px)
    vertical(px)
    blur (px)
    color(name,rgb,hex)
    */
}
